<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684761604594-ncf70pk9i709h0mssvjedr7t7jkcj5d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684761604594-ncf70pk9i709h0mssvjedr7t7jkcj5d3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>684761604594-jtsdbgfvp0lr3ugod9rg6um5sih26si6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEbbG5LEl-dS4JwinNBj4YO1PeGKkDM9M</string>
	<key>GCM_SENDER_ID</key>
	<string>684761604594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.Truegood.ios</string>
	<key>PROJECT_ID</key>
	<string>truegood-810ab</string>
	<key>STORAGE_BUCKET</key>
	<string>truegood-810ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684761604594:ios:cc450b2037124019c00b6b</string>
</dict>
</plist>